Repository nextcloud/contacts, pull requests merged in 2018-09, with the labels that each got.

#611 Vue details fixes: grid fixes, delete contact, comments and key fix
  src/components/ContactDetails.vue
  src/components/ContentList/ContentListItem.vue
  src/components/Properties/PropertyDateTime.vue
  src/components/Properties/PropertyGroups.vue
  src/components/Properties/PropertyMultipleText.vue
  src/components/Properties/PropertySelect.vue
  src/components/Properties/PropertyText.vue
  src/components/Properties/PropertyTitle.vue
  src/store/FakeName.vcf
  src/store/addressbooks.js
Labels: 3. to review, vue

#617 Multiple values saving fix, categories update and design calc fixes
  src/components/ContactDetails/ContactDetailsProperty.vue
  src/components/Properties/PropertyGroups.vue
  src/components/Properties/PropertyMultipleText.vue
  src/store/FakeName.vcf
Labels: 3. to review, vue

#622 Vue rename addressbook
  css/settings/settings-addressbook.scss
  src/components/Settings/SettingsAddressbook.vue
  src/components/core/popoverMenu/popoverItem.vue
Labels: 3. to review, vue

#623 Check for Read only addressbooks
  src/components/ContactDetails.vue
  src/components/ContentList/ContentListItem.vue
  src/components/Settings/SettingsAddressbook.vue
  src/store/addressbooks.js
  src/views/Contacts.vue
Labels: 2. developing, 3. to review, vue

#624 Move to nextcloud components
  Makefile
  package-lock.json
  package.json
  src/components/ContactDetails.vue
  src/components/Settings/SettingsAddressbook.vue
  src/components/core/appNavigation.vue
  src/components/core/appNavigation/navigationItem.vue
  src/components/core/popoverMenu.vue
  src/components/core/popoverMenu/popoverItem.vue
  src/views/Contacts.vue
Labels: 3. to review, vue

#620 Vue datetime component
  .babelrc.js
  .eslintrc.js
  appinfo/info.xml
  package-lock.json
  package.json
  src/components/ContactDetails.vue
  src/components/ContactDetails/ContactDetailsProperty.vue
  src/components/Properties/PropertyDateTime.vue
  src/components/Settings/SettingsAddressbook.vue
  src/main.js
  src/router/index.js
  src/store/FakeName.vcf
  webpack.common.js
Labels: 2. developing, vue

#619 Vue new addressbook
  css/settings-section.scss
  package-lock.json
  src/components/Settings/SettingsNewAddressbook.vue
  src/store/addressbooks.js
Labels: 3. to review, vue

#629 Disable import multiselect when there is at most one address book.
  src/components/Settings/SettingsImportContacts.vue
Labels: 4. to release, vue

#628 Vue settings popovermenu
  package-lock.json
  src/components/Settings/SettingsAddressbook.vue
Labels: 4. to release, vue

#640 Vue avatar management preview
  css/ContactDetails.scss
  css/contact-details-avatar.scss
  css/contacts.scss
  package-lock.json
  src/components/ContactDetails.vue
  src/components/ContactDetails/ContactDetailsAvatar.vue
Labels: 3. to review

#639 Vue cdav copy addressbook
  src/components/Settings/SettingsAddressbook.vue
Labels: 3. to review, vue

#642 fixed toggleSize method
  src/components/ContactDetails/ContactDetailsAvatar.vue
Labels: 3. to review

#632 [Vue] cdav lib
  .eslintrc.js
  css/ContactDetails.scss
  css/Properties/Properties.scss
  css/animations.scss
  css/contacts.scss
  package-lock.json
  package.json
  src/components/ContactDetails.vue
  src/components/ContactDetails/ContactDetailsProperty.vue
  src/components/ContentList/ContentListItem.vue
  src/components/Properties/PropertyDateTime.vue
  src/components/Properties/PropertyGroups.vue
  src/components/Properties/PropertySelect.vue
  src/components/Settings/SettingsAddressbook.vue
  src/components/Settings/SettingsAddressbookShare.vue
  src/components/Settings/SettingsNewAddressbook.vue
  src/models/contact.js
  src/models/rfcProps.js
  src/services/cdav.js
  src/store/FakeName.vcf
  src/store/addressbooks.js
  src/store/contacts.js
  src/store/groups.js
  src/store/importState.js
  src/views/Contacts.vue
Labels: 3. to review, high, vue

#645 Vue avatar management style
  css/contact-details-avatar.scss
  src/components/ContactDetails/ContactDetailsAvatar.vue
Labels: 3. to review

#646 Vue avatar management style
  css/contact-details-avatar.scss
  src/components/ContactDetails/ContactDetailsAvatar.vue
Labels: 3. to review

#648 Fix import and push vCards to the server
  css/importScreen.scss
  package-lock.json
  package.json
  src/components/ImportScreen.vue
  src/components/Settings/SettingsImportContacts.vue
  src/services/parseVcf.js
  src/store/addressbooks.js
  src/store/groups.js
  src/store/importState.js
  src/views/Contacts.vue
Labels: 3. to review, bug, vue

#649 Do not display dupisate types
  src/components/ContactDetails/ContactDetailsProperty.vue
  src/components/Properties/PropertyDateTime.vue
  src/components/Properties/PropertyMultipleText.vue
  src/components/Properties/PropertyText.vue
Labels: 3. to review, vue

#647 Vue avatar management
  css/ContactDetails.scss
  css/contact-details-avatar.scss
  css/contacts.scss
  package-lock.json
  src/components/ContactDetails.vue
  src/components/ContactDetails/ContactDetailsAvatar.vue
  src/models/contact.js
Labels: 4. to release, vue

#650 Delete the contacts from the store after an ab deletion
  src/store/addressbooks.js
Labels: 3. to review, bug, vue
