Repository nextcloud/contacts, pull requests merged in 2018-10, with the labels that each got.

#658 Fix base router url
  src/router/index.js
Labels: 3. to review, bug, compatibility

#657 Sort new properties dropdown
  src/components/ContactDetails/ContactDetailsAddNewProp.vue
Labels: 3. to review, bug, vue

#656 Fix date formating and default date value + deps
  package-lock.json
  package.json
  src/components/Properties/PropertyDateTime.vue
  src/main.js
  src/models/rfcProps.js
  webpack.common.js
Labels: 3. to review, bug, vue

#661 style: Update filenames to vue.js style
  .travis.yml
  css/ContactDetailsAvatar.scss
  css/Settings/SettingsAddressbook.scss
  css/Settings/SettingsAddressbookSharee.scss
  css/Settings/SettingsAddressbookShares.scss
  css/SettingsSection.scss
  css/contacts.scss
  src/components/Settings/SettingsAddressbook.vue
  src/components/Settings/SettingsImportContacts.vue
  src/components/Settings/SettingsRenameAddressbookField.vue
Labels: 3. to review, papercut, vue

#664 Add search
  src/components/ContentList.vue
  src/components/ContentList/ContentListItem.vue
  src/models/contact.js
  src/views/Contacts.vue
Labels: 3. to review, enhancement, high

#673 Do not use compiler
  webpack.common.js
Labels: 3. to review, enhancement
